<template>


    <div>
        <a href="" @click.prevent="dialogVisible = !dialogVisible" class="btn btn-sm btn-info  mr-4 ">Set Credits</a>
        <el-dialog
            title="Credits"
            :visible.sync="dialogVisible"
            width="30%">
            <div class="row" v-for="(item, index) in form.credit" :key="index">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label class="form-control-label" for="example3cols1Input">Dobândă</label>
                        <input v-model="item.interest_rate" type="number" min="1" class="form-control"
                               id="example3cols1Input"
                               placeholder="ex. 10 fara semnul % lunara">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <label class="form-control-label" for="example3cols1Input">Perioada</label>
                        <input v-model="item.term" type="number" min="1" class="form-control" id="example3cols1Input"
                               placeholder="ex. 18 fara text">
                    </div>
                </div>
                <div class="col-lg-12 d-flex mb-2">
                    <el-button class="w-100" v-if="index >= 0" @click="pushSpec"><i
                        class="el-icon-plus"></i>
                    </el-button>
                    <el-button class="w-100" v-if="index > 0" @click="delSpec(index)"><i
                        class="el-icon-minus"></i>
                    </el-button>
                </div>
            </div>


            <span slot="footer" class="dialog-footer">
    <el-button type="primary" @click="saveCredit">Save</el-button>
  </span>
        </el-dialog>
    </div>
</template>

<script>
export default {
    name: "CreateCredits",
    props: ['credit_id', 'oldcredit'],
    data() {
        return {
            dialogVisible: false,
            form: {
                credit_id: '',
                credit: []
            }
        }
    },

    created() {
        this.form.credit_id = this.credit_id;
        if (this.oldcredit.length > 0) {
            this.form.credit = this.oldcredit;
        } else {
            this.form.credit.push({
                interest_rate: '',
                term: '',
            })
        }
    },

    methods: {
        pushSpec() {
            this.form.credit.push({
                interest_rate: '',
                term: '',
            })
        },

        delSpec(index) {
            this.form.credit.splice(index, 1)
        },

        saveCredit() {
            axios.post('/admin/credit/store-credit', this.form).then(response => {
                if (response.status === 200) {
                    this.$notify({
                        title: 'Success',
                        message: 'Credit saved with success!',
                        type: 'success'
                    });
                    window.location.href = window.location.href;
                }
            }).catch(error => {
                if (error.response.status == 422) {
                    this.errors = error.response.data.errors;
                }
            });
        }
    }
}
</script>

<style scoped>

</style>
